<html>
    <head>						
		<title>Valida CEP Gotham City</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>    
    <body>
		<nav class="navbar navbar-default">
			<div class="row">
				<div class="col-sm-8">
					<h4 class="display-4">Valida CEP Gothan City</h4>
					<hr>
				</div>
				<div>
					<ul class="navbar nav">
						<li class="col-sm-4"><a href="/">Cadastro de CEP</a></li>
						<li class="col-sm-4"><a href="/lista_db">Consulta Cadastros</a></li>
					</ul>


				</div>
		</nav><hr>
		<div class="container">
				{% block conteudo %}{% endblock %}
		</div>
    </body>
</html>

