{% extends "base.html" %}

{% block conteudo %}

	<div class="container" style="min-height:100% width:80%">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning" role="alert">
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
	</div>


	<div class="container">
		<form method="POST" action='/'>
			<div class="form-group">
				<label for="cep">Digite o número do novo CEP:</label>
				<input type="text" class="form-control" name="cep"><br>
			</div>
			<div class="form-group">
				<label for="cidade">Insira o nome da cidade:</label>
				<input type="text" class="form-control" name="cidade"><br>
			</div>
			<div align="center">
				<button type="submit" class="btn btn-block btn-dark">
					<span class="spinner-border spinner-border-sm"></span>
						Cadastrar CEP
				</button>
			</div>
		</form>
	</div>

{% endblock %}
